
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GeyikLounge.Entities.Menu

<h2>Are you sure you want to delete this menu?</h2>
<div>
    <h3>@Model.Name</h3>
    <img src="@Model.ImagePath" alt="@Model.Name" style="max-width:200px;" />
</div>
@using (Html.BeginForm("Delete", "Admin", new { id = Model.Id }, FormMethod.Post))
{
    @Html.AntiForgeryToken() <!-- Güvenlik için AntiForgeryToken ekleyin -->
    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </div>
}