
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@*Bu alana headpartial koyacan *@
@Html.Action("partialHead", "Default")

<body>

    <div class="logo">
        <a href="#">
            <img src="~/Imge/GeyikLounge_logo_web_150x150.png" alt="Logo" />
        </a>
    </div>

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            @foreach (var product in Model.Products)
            {
                <div class="swiper-slide" onclick="showModal('@product.Name', '@product.Description')">
                    <img src="@Url.Content(product.ImagePath)" alt="@product.Name">
                    <span>@product.Name</span>
                </div>
            }
        </div>


        <!-- Add more products as needed -->
    </div>

    <!-- Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel"> Ymek / İçeçek ismi </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Ürünler burada olucak
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*bu alana script kısmı gelecek*@
    @Html.Action("partialScript", "Default")


</body>
</html>
